.input-container{
  background-color: cadetblue;
  text-align: center;
  line-height: 40px;
}
.input-container input{
  width: 70%;
  line-height: 30px;
  margin: 5px;
  font-size: 1.5rem;
}
.shop-container{
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.product-container{
  border-right: 2px solid lightgray;
  margin-left: 50px;
  margin-right: 10px;
}
